<article class="article">
  <div class="content">
    {{ .Content }}
  </div>
  <h2 class="h2">
    <a class="ext" href="{{ .Params.source }}">{{ .Title }}</a>
  </h2>
  <div class="meta">
    <time class="time" datetime="{{ .Date }}">
      <a href="{{ .Permalink }}">
        {{ .Date.Format "2 Jan 2006" }}
      </a>
    </time>
    <ul class="links tags">
      {{ range .Params.tags }}
        <li> <a href="/tags/{{ . | urlize }}">{{ . }}</a> </li>
      {{ end }}
    </ul>
  </div>
</article>
